9.- AR Overdue

In [1]:
import xlwings as xw
import pandas as pd
import datetime
import os

In [2]:
current_date = datetime.datetime.now()

def get_previous_month(date):
    first_day_of_current_month = datetime.date(date.year, date.month, 1)
    last_day_of_previous_month = first_day_of_current_month - datetime.timedelta(days=1)
    return last_day_of_previous_month.strftime('%B')

def get_previous_two_months(date):
    first_day_of_current_month = datetime.date(date.year, date.month, 1)
    last_day_of_two_months_back = first_day_of_current_month - datetime.timedelta(days=1)
    last_day_of_two_months_back = last_day_of_two_months_back.replace(day=1) - datetime.timedelta(days=1)
    return last_day_of_two_months_back.strftime('%B')

# Get the current date
today = datetime.date.today()

# Get the first day of the current month
first_day_of_current_month = today.replace(day=1)

# Get the last day of the previous month
last_day_of_previous_month = first_day_of_current_month - datetime.timedelta(days=1)

prev_month = get_previous_two_months(current_date)

month = get_previous_month(current_date) 

overdue_companies_path =  os.path.join(r"C:\Users\nil.monreal\Desktop\7. Cierre de mes AR", rf"9.- AR Overdue Intercompanies {prev_month.upper()} 2024.xlsx")

try:
    overdue_companies_book = xw.Book(overdue_companies_path, update_links=False)
    print(f"File {overdue_companies_path} opened successfully.")
except FileNotFoundError:
    print(f"File not found: {overdue_companies_path}")
except Exception as e:
    print(f"An error occurred: {e}")

File C:\Users\nil.monreal\Desktop\7. Cierre de mes AR\9.- AR Overdue Intercompanies NOVEMBER 2024.xlsx opened successfully.

In [3]:
ar_52_path = os.path.join(r"C:\Users\nil.monreal\Desktop\7. Cierre de mes AR",rf"4.- AR 5 2 AGING REPORT {month.upper()} AJUSTADO 2024.xlsx")

try:
    ar_52_book = xw.Book(ar_52_path, update_links=False)
    print(f"File {ar_52_path} opened successfully.")

except FileNotFoundError:
    print(f"File not found: {ar_52_path}")

except Exception as e:
    print(f"An error occurred: {e}")

    os.system("taskkill /f /im excel.exe")

    ar_52_book = xw.Book(ar_52_path, update_links=False)
    print(f"File {ar_52_path} opened successfully.")

File C:\Users\nil.monreal\Desktop\7. Cierre de mes AR\4.- AR 5 2 AGING REPORT DECEMBER AJUSTADO 2024.xlsx opened successfully.

In [4]:
reg_e1_sheet = ar_52_book.sheets["EMB.PROD.REG.E1"]
spares_e1_sheet = ar_52_book.sheets["EMB.SPARES.E1"]
reg_e2_sheet = ar_52_book.sheets["EMB.PROD.REG.E2"]
spares_e2_sheet = ar_52_book.sheets["EMB.SPARES.E2"]
china_sheet = ar_52_book.sheets["CHINA"]
florida_sheet = ar_52_book.sheets["FLORIDA"]
france_sheet = ar_52_book.sheets["EMB.FRANCIA"]
singapur_sheet = ar_52_book.sheets["SINGAPORE"]

last_row_r_e1 = reg_e1_sheet.range('F6').end('down').row
last_row_s_e1 = spares_e1_sheet.range('F6').end('down').row
last_row_r_e2 = reg_e2_sheet.range('F6').end('down').row
last_row_s_e2 = spares_e2_sheet.range('F6').end('down').row
last_row_china = china_sheet.range('F6').end('down').row
last_row_florida = florida_sheet.range('F6').end('down').row
last_row_france = france_sheet.range('F6').end('down').row
last_row_singapur = singapur_sheet.range('F6').end('down').row

# Extract the table values from the range
table_data_re1 = reg_e1_sheet.range(f"B6:N{last_row_r_e1}").value
table_data_se1 = spares_e1_sheet.range(f"B6:N{last_row_s_e1}").value
table_data_re2 = reg_e2_sheet.range(f"B6:N{last_row_r_e2}").value
table_data_se2 = spares_e2_sheet.range(f"B6:N{last_row_s_e2}").value
table_data_china = china_sheet.range(f"B6:N{last_row_china}").value
table_data_florida = florida_sheet.range(f"B6:N{last_row_florida}").value
table_data_france = france_sheet.range(f"B6:N{last_row_france}").value
table_data_singapur = singapur_sheet.range(f"B6:N{last_row_singapur}").value

# Convert the range to a DataFrame
re1_df = pd.DataFrame(table_data_re1[1:], columns=table_data_re1[0])
se1_df = pd.DataFrame(table_data_se1[1:], columns=table_data_se1[0])
re2_df = pd.DataFrame(table_data_re2[1:], columns=table_data_re2[0])
se2_df = pd.DataFrame(table_data_se2[1:], columns=table_data_se2[0])
china_df = pd.DataFrame(table_data_china[1:], columns=table_data_china[0])
florida_df = pd.DataFrame(table_data_florida[1:], columns=table_data_florida[0])
france_df = pd.DataFrame(table_data_france[1:], columns=table_data_france[0])
singapur_df = pd.DataFrame(table_data_singapur[1:], columns=table_data_singapur[0])

aging_df = pd.concat([re1_df, se1_df, re2_df, se2_df,china_df,florida_df,france_df,singapur_df], ignore_index=True)

C:\Users\nil.monreal\AppData\Local\Temp\ipykernel_25380\3186664493.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  aging_df = pd.concat([re1_df, se1_df, re2_df, se2_df,china_df,florida_df,france_df,singapur_df], ignore_index=True)

In [5]:
aging_df

,Ent Reference,Customer Code,Entity,Cust.PO,Tr-Date,Due-Date,Total,Current,01-30,31-60,61-90,91-120,Over 120
0,CH168413,EZ1001,EZ4119,905715619.0,2024-10-18,2024-12-02,75085.17,0.00,75085.17,0.0,0.0,0.0,0.0
1,CH169150,EZ1001,EZ4108,905705456.0,2024-10-29,2024-12-13,7438.11,0.00,7438.11,0.0,0.0,0.0,0.0
2,CH169432,EZ1001,EZ4101,905751837.0,2024-10-31,2024-12-15,66133.10,0.00,66133.10,0.0,0.0,0.0,0.0
3,CH169520,EZ1001,EZ4116,905755322.0,2024-10-31,2024-12-15,31983.37,0.00,31983.37,0.0,0.0,0.0,0.0
4,CH169598,EZ1001,EZ4101,905751776.0,2024-10-31,2024-12-15,47625.60,0.00,47625.60,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051544,CH172516,EZ1117,EZ4200,905765665.0,2024-12-11,2024-12-31,7332.48,0.00,7332.48,0.0,0.0,0.0,0.0
1051545,CH172989,EZ1117,EZ4200,905760842.0,2024-12-18,2025-01-07,15.55,15.55,0.00,0.0,0.0,0.0,0.0
1051546,CH173534,EZ1117,EZ4200,905776420.0,2024-12-27,2025-01-16,62.92,62.92,0.00,0.0,0.0,0.0,0.0
1051547,CH173747,EZ1117,EZ4200,905619364.0,2024-12-31,2025-01-20,2992.42,2992.42,0.00,0.0,0.0,0.0,0.0
1051548,CH173841,EZ1117,EZ4200,905663732.0,2024-12-31,2025-01-20,2920.36,2920.36,0.00,0.0,0.0,0.0,0.0